{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Client edit</h1>

    {% include '@HypersitesCliente/Client/Partial/form-person-client.html.twig' %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
